.panel
  .panel-heading
   h2.panel-title 
    |About: Orto Urbano
  .panel-body
   |to dos description

a(href="http://www.makerfairerome.eu/it/", target='_blank')
  img.about(src="public/make.png")
