.panel
  .panel-heading
   h2.panel-title 
    |About: Intel Bio Edison
  .panel-body
   |BioEdison is a smart vertical garden based on the new Intel Edison that allows a simple, automated management of any type of vegetable or plant. Advantages of BioEdison control device than a traditional vegetable garden are the efficient use of space and resources and the ability to communicate to the user the status of the plants and the possible need for human intervention (such as supply of water).This project is based almost entirely on the components contained in the Groove Kit for Intel Edison.
a(href="http://www.intel.com/content/www/us/en/do-it-yourself/edison.html", target='_blank')
  img.about(src="public/edison.jpg")
a(href="http://www.makerfairerome.eu/it/", target='_blank')
  img.about(src="public/make.png")
