//IDEA pagina main con tutte le piante. pane che si arrotola, a mo di social. ogni panel è full screen e scrollable. mantieni in una pagina la visualizzazione di tutte le informazioni 
.panel
  .panel-heading
    h3.panel-title Real time parameters
  .panel-body
    .panel-heading
      h4.panel-title temperature
    .progress
      .progress-bar.progress-bar-danger(role='progressbar.progress-bar-success', aria-valuenow='{{temp}}', aria-valuemin='0', aria-valuemax='100', style='width: {{temp}}%;')
        {{temp}}°C
    .panel-heading
      h4.panel-title light
    .progress
      .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='{{light}}', aria-valuemin='0', aria-valuemax='100', style='width: {{light*10}}%;')
        {{light}}Lux
    .panel-heading
      h4.panel-title wind
    .progress
      .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='{{wind}}', aria-valuemin='0', aria-valuemax='100', style='width: {{wind/15}}%;')
        {{wind}}m/s
    .row
      .col-xs-6
        .panel.panel-default
          .panel-heading
            h4.panel-title humidity
          .panel-body
            {{hum}}Kg/m^3
      .col-xs-6
        .panel.panel-default
          .panel-heading
            h4.panel-title gas
          .panel-body
            {{gas}}Sm^3
.panel
  .panel-heading
    h3.panel-title Recent values
  .panel-body
    #graph

div(style="height:5em;")

#m1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Modal title
      .modal-body
        | ...
      .modal-footer
        button.btn(type='button') Fire!
